@{
    ViewBag.Title = "Home";
    if (ViewBag.IsValid == "true")
    {
        Layout = "~/Views/Shared/Register.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Non_Register.cshtml";
    }

}

<section class="setfooter">

    <section id="home-page-img">
        <div class="container">
            <div class="home-header-content">
                <div class="row">
                    <div class="col-md-8 col-sm-10">
                        <div class="row">
                            <div class="col-12">
                                <div class="main-text">
                                    <h1>Download Free/Paid Notes<br>or Sale your Book</h1>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="extra-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas excepturi facilis nam quaerat fugiat suscipit tempore.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-6">
                                <a  href="@Url.Action("FAQ","Home")" class="btn text-uppercase text-center duallcenter" id="mybtn"><b>Learn More</b></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="home-page-second-section" class="content-box-md">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <h2>About<br>NotesMarketPlace</h2>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 ann">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia soluta, veritatis quod pariatur incidunt, in reiciendis nemo similique, nulla tempora, excepturi architecto iste neque. Maiores omnis quia quod ut distinctiolorem Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="col-md-12 ">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa facere odio distinctio perspiciatis vero dolore autem, aliquid omnis at, quis fugit illo eveniet esse soluta obcaecati repellat, dolorem praesentium molestias.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="home-page-third-section" class="content-box-md2">

        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>How it Works</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="box-home">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="myimg2">
                                    <img src="~/Content/images/Homepage/download.png" alt="Download" class="img-fluid">
                                </div>
                                <h3>Download Free/Paid Notes</h3>
                                <p>Get Material for your<br>Cource etc.</p>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-6 col-6">
                                <button class="btn text-uppercase text-center" id="mybtn" onclick="@("window.location.href='" + @Url.Action("Search", "Home") + "'");" >Download</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-home">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="myimg2">
                                    <img src="~/Content/images/home/seller.png" alt="Download" class="img-fluid">
                                </div>
                                <h3>Seller</h3>
                                <p>Upload and Download Cource<br>and Materials etc.</p>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-6 col-6">
                                <button class="btn text-uppercase text-center" id="mybtn" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");" >sell book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="home-page-forth-section" class="content-box-md">

        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h2>What Our Customers are Saying</h2>
                </div>
            </div>
            <div class="feedbacks">
                <div class="row first-r-f">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="feedback-box domargin">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <img src="~/Content/images/home/customer-1.png" alt="user" class="rounded-circle img-fluid">
                                </div>
                                <div class="col-md-9">
                                    <div class="head-details">
                                        <h3>Walter Meller</h3>
                                    </div>
                                    <div class="sub-deatials">
                                        <p>Founder &amp; CEO, Matrix Group</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-left">
                                <div class="col-md-12">
                                    <div class="feedback-text text-left">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam facere, laborum accusamus iusto quaerat quisquam eos totam maxime."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="feedback-box domargin">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/Content/images/home/customer-2.png" alt="user" class="rounded-circle img-fluid">
                                </div>
                                <div class="col-md-9 ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="head-details ">
                                                <h3>joi martem</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="sub-deatials ">
                                                <p>Founder &amp; CEO, Indian Group</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row text-left">
                                <div class="col-md-12">
                                    <div class="feedback-text text-left">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam facere, laborum accusamus iusto quaerat quisquam eos totam maxime."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="feedback-box domargin">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/Content/images/home/customer-3.png" alt="user" class="rounded-circle img-fluid">
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="head-details ">
                                                <h3>Amilia Luna</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="sub-deatials ">
                                                <p>Teacher, Saint joseph Hign School</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row  docenter">
                                <div class="col-md-12 text-left">
                                    <div class="feedback-text">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam facere, laborum accusamus iusto quaerat quisquam eos totam maxime."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="feedback-box domargin">
                            <div class="row ">
                                <div class="col-md-3">
                                    <img src="~/Content/images/home/customer-4.png" alt="user" class="rounded-circle img-fluid">
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="head-details ">
                                                <h3>Daniel Cardos</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="sub-deatials ">
                                                <p>Software Engineer, Infinitum Company</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row text-left">
                                <div class="col-md-12">
                                    <div class="feedback-text text-left">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam facere, laborum accusamus iusto quaerat quisquam eos totam maxime, ."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>
