@model NotesMarketplace.NotesDetail
@{
    ViewBag.Title = "Note Details";
    if (ViewBag.IsValid == "true")
    {
        Layout = "~/Views/Shared/Register.cshtml";
        ViewBag.IsValid = null;
    }
    else
    {
        Layout = "~/Views/Shared/Non_Register.cshtml";
    }
}
<section class="setfooter">
    <!-- Third Section -->
    <section id="notes-details-first-section" class="givemar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12">
                    <div class="head">
                        <h3>Notes Details</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7">
                            <div class="row docenter">
                                <div class=" col-12 col-sm-5 col-md-5 col-lg-5">
                                    @{
                                        if (Model.BookPicture != null)
                                        {
                                            <img class="img-fluid bookpicture" src="~/Uploads/BookPicture/@Model.BookPicture">
                                        }
                                        else
                                        {
                                            <img class="img-fluid bookpicture" src="~/Uploads/BookPicture/Default.png">
                                        }
                                    }
                                </div>
                                <div class="col-12 col-sm-7 col-md-7 col-lg-7">

                                    <h2>@Model.Title</h2>
                                    <h5>@Model.Category</h5>
                                    <p class="text-left notedesc">@Model.NotesDescription </p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-7 col-lg-9">
                                            <form>
                                                <input hidden formmethod="post" name="SellPrice" value="@Model.SellPrice" />
                                                <input hidden name="noteid" value="@Model.P_K_Note" />
                                                @if ("Requested".Equals(ViewBag.btntext))
                                                {
                                                    <button type="submit" disabled class="btn text-uppercase text-center" id="mybtn" data-toggle="modal" data-target="#exampleModal"><b>@ViewBag.btntext</b></button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn text-uppercase text-center" id="mybtn" data-toggle="modal" data-target="#exampleModal"><b>@ViewBag.btntext</b></button>
                                                }
                                            </form>
                                            <!-- Modal -->

                                            @if (ViewBag.NotApproved == "true")
                                            {
                                                <script>
                                                    function closeme() {
                                                        var a = document.getElementById("exampleModal").style.display = "none";
                                                    }
                                                </script>
                                            <div style="padding-right: 16px; display: block; opacity:100; overflow:visible;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <a class="close" onclick="closeme()" data-dismiss="modal" aria-label="Close">
                                                                    <img src="~/Content/images/Notes Details/close.png">
                                                                </a>
                                                            </div>
                                                            <div class="model-data">

                                                                <div class="model-head text-center">
                                                                    <img class="img-fluid" src="~/Content/images/Notes Details/SUCCESS.png">
                                                                    <h2>Thank your for purchasing!</h2>
                                                                </div>
                                                                <div class="middel-content text-left">
                                                                    <h3>Dear @ViewBag.name,</h3>
                                                                    <p class="para-1">As this is paid notes-you need to pay to seller @ViewBag.sellername offline.We will send him an email that you want to download this note.He may contact you further for payment process completion.</p>
                                                                    <p class="para-2">In Case, you have urgency,<br>Please contact us on +9195538863848.</p>
                                                                    <p class="para-3">Once he recevies the payment and acknowledge us-Seleted notes you can see over my downloads tab for download.</p>
                                                                    <p class="para-4">Have a good day.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            } 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 margin-top">
                            <div class="row">
                                <div class="col-5 col-sm-5 col-md-5 left-side-note">
                                    <h5>Institution:</h5>
                                    <h5>Country:</h5>
                                    <h5>Course Name:</h5>
                                    <h5>Course Code:</h5>
                                    <h5>Professor:</h5>
                                    <h5>Number of Pages:</h5>
                                    <h5>Approved Date:</h5>
                                    <h5>Rating:</h5>
                                </div>
                                @{
                                    double rating = ViewBag.rates;
                                    var numofreview = ViewBag.numofreview;
                                    var inappropriate = ViewBag.inappropriate;
                                }
                            <div class="col-7 col-sm-7 col-md-7 right-side-note text-right">
                                @if (String.IsNullOrEmpty(Model.InstitutionName))
                                {
                                    <h5>&nbsp;-&nbsp;</h5>
                                }
                                <h5>@Model.InstitutionName</h5>
                                @if (String.IsNullOrEmpty(Model.Country))
                                {
                                    <h5>&nbsp;-&nbsp;</h5>
                                }
                                <h5>@Model.Country</h5>
                                @if (String.IsNullOrEmpty(Model.Course))
                                {
                                    <h5>&nbsp;-&nbsp;</h5>
                                }
                                <h5>@Model.Course</h5>
                                @if (String.IsNullOrEmpty(Model.CourseCode))
                                {
                                    <h5>&nbsp;-&nbsp;</h5>
                                }
                                <h5>@Model.CourseCode</h5>
                                @if (String.IsNullOrEmpty(Model.Professor))
                                {
                                    <h5>&nbsp;-&nbsp;</h5>
                                }
                                <h5>@Model.Professor</h5>
                                @if (String.IsNullOrEmpty(Model.NumberOfPages.ToString()))
                                {
                                    <h5>&nbsp;-&nbsp;</h5>
                                }
                                <h5>@Model.NumberOfPages</h5>
                                @if (String.IsNullOrEmpty(Model.CreatedDate.ToString()))
                                {
                                    <h5>&nbsp;-&nbsp;</h5>
                                }
                                <h5>@Model.CreatedDate.Value.ToString("MMMM") @Model.CreatedDate.Value.ToString("dd") @Model.CreatedDate.Value.ToString("yyyy")</h5>
                                <div class="rate-fa">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (rating > i)
                                        {
                                            <i class="fa fa-star giverate"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    }

                                    <i class="numofreview">@numofreview Reviews</i>
                                </div>
                            </div>
                            </div>
                            <div class="inappropriate">
                                <p>@inappropriate User marked this note as inappropriate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Third Section Ends-->

    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <section id="notes-details-second-section">

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="head">
                        <h3>Notes Preview</h3>
                        @{
                            String preview = null;
                            if (Model.NotePreview != null)
                            {
                                preview = "https://localhost:44381/Uploads/BookPreview/" + Model.NotePreview;
                            }
                            else
                            {
                                preview = "https://localhost:44381/Uploads/Books/" + Model.NoteAttachment;
                            }
                        }
                    </div>
                    <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
                        <div class="responsive-wrapper
     responsive-wrapper-padding-bottom-90pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
                          
                            <iframe src="@preview" class="responsive-iframe" title="description"><p>Your web browser doesn't have a PDF plugin.Instead you can <a href=@preview>click here to download the PDF file.</a></p></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 margin-top">
                    <div class="head">
                        <h3>Customer Reviews</h3>
                    </div>
                    <div class="customer-reviews">
                        @{
                            List<NotesMarketplace.Models.Feedbacks> feedbacks = ViewBag.feedbacks;
                            if (feedbacks == null)
                            {
                                <h5>No Record Found</h5>
                            }
                            else
                            {
                                foreach (NotesMarketplace.Models.Feedbacks feedback in feedbacks)
                                {
                                    <div class="row">
                                        <div class="col-3 col-sm-3 col-md-2">
                                            @if (feedback.profileurl != null)
                                            {
                                                <img src="~/Uploads/ProfilePicture/@feedback.profileurl" alt="user" class="img-fluid rounded-circle">
                                            }
                                            else
                                            {
                                                <img src="~/Uploads/ProfilePicture/Default.png" alt="user" class="img-fluid rounded-circle">
                                            }

                                        </div>
                                        <div class="col-9 col-sm-9 col-md-10">
                                            <h5>@feedback.feedbacks.User.FirstName @feedback.feedbacks.User.LastName</h5>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="rate-fa">

                                                        @for (int i = 0; i < 5; i++)
                                                        {
                                                            if (feedback.feedbacks.Review > i)
                                                            {
                                                                <i class="fa fa-star giverate"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>@feedback.feedbacks.Comments </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                }
                            }
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
