@model IPagedList<NotesMarketplace.NotesDetail>
@using PagedList
@using PagedList.Mvc
<section id="dashboard-third-section">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-6">
                    <h3>Published Notes</h3>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="wrapper">
                            <img src="~/Content/images/Dashboard/search.jpg" class="searchimage doup">
                            <input name="search_progress_2" value="@Request.QueryString["search_progress_2"]" aria-describedby="null" class="abcd form-control search-bar InputEmail1" placeholder="Search">
                            <input type="hidden" name="field_2" value="@Request.QueryString["field_2"]" />
                        </div>
                        <div class="marge-left">
                            <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>Search</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    <table class="table">
                        <thead>
                            <tr style="cursor:default">

                                <th scope="col" class="align-middle" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home", new { field_2 = "datetime", search_progress_2 = Request.QueryString["search_progress_2"], pageindex_2 = Request.QueryString["pageindex_2"] ,search_progress=Request.QueryString["search_progress"],pageindex=Request.QueryString["pageindex"]}) + "'");">ADDED DATE</th>
                                <th scope="col" class="align-middle" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home", new { field_2 = "title", search_progress_2 = Request.QueryString["search_progress_2"], pageindex_2 = Request.QueryString["pageindex_2"],search_progress=Request.QueryString["search_progress"],pageindex=Request.QueryString["pageindex"] }) + "'");">TITLE</th>
                                <th scope="col" class="align-middle" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home", new { field_2 = "category", search_progress_2 = Request.QueryString["search_progress_2"], pageindex_2 = Request.QueryString["pageindex_2"],search_progress=Request.QueryString["search_progress"],pageindex=Request.QueryString["pageindex"] }) + "'");">CATEGORY</th>
                                <th scope="col" class="align-middle">SELL TYPE</th>
                                <th scope="col" class="align-middle">PRICE</th>
                                <th scope="col" class="align-middle">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr> <td colspan="5" class="align-middle"> Records not found </td></tr>
                            }
                            @{
                                foreach (var mynotes in Model)
                                {
                                    var getlist_code2 = ViewBag.status as IEnumerable<NotesMarketplace.NotesStatu>;
                                        <tr style="cursor:default">
                                            <td class="align-middle">@mynotes.CreatedDate.Value.ToShortDateString()</td>
                                            <td class="align-middle">@mynotes.Title</td>
                                            <td class="align-middle">@mynotes.Category</td>
                                            @if (mynotes.SellPrice != 0)
                                            {
                                                <td class="align-middle">Paid</td>
                                            }
                                            else
                                            {
                                                <td class="align-middle">Free</td>
                                            }
                                            <td class="align-middle">$@mynotes.SellPrice</td>
                                            <td class="align-middle">
                                                <div class="row text-center">
                                                    <div class="col-11 col-sm-11 col-md-9 col-lg-7 dopointer">
                                                        <img src="~/Content/images/Dashboard/eye.png" alt="Edit" class="img-fluid dopointer" onclick="@("window.location.href='" + @Url.Action("NoteDetails","Home",new {noteid=mynotes.P_K_Note})+"'");">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pagination -->
<section id="pagination">
    @Html.PagedListPager(Model, pageindex_2 => Url.Action("Dashboard", "Home", new { pageindex_2,field_2 = Request.QueryString["field_2"], search_progress_2 = Request.QueryString["search_progress_2"],field = Request.QueryString["field"], search_progress = Request.QueryString["search_progress"] }), new PagedList.Mvc.PagedListRenderOptions
{
   ContainerDivClasses = null,
   LiElementClasses = new string[] { "page-item1" },
   UlElementClasses = new string[] { "pagination justify-content-center" },
   LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
   LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
   MaximumPageNumbersToDisplay = 5,
   DisplayEllipsesWhenNotShowingAllPageNumbers = false,
   DisplayLinkToFirstPage = PagedListDisplayMode.Never,
   DisplayLinkToLastPage = PagedListDisplayMode.Never

})
</section>
