@model NotesMarketplace.UserProfile

@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/Register.cshtml";
}

    <!-- First Section -->
    <section class="setfooter">
        <div id="user-profile-img">
            <div class="centerh2">

                <h2>User Profile</h2>

            </div>
        </div>


        <form class="user-details-form" method="post" enctype="multipart/form-data">

            <!-- Second Section -->
            <section id="basic-profile-details" class="user-profile content-box-md">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head">
                                    <h3>Basic Profile Details</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <!-- First Name -->
                                        <div class="form-group">
                                            <label class="mylabel">First Name *</label>
                                            @Html.TextBoxFor(m=>m.User.FirstName,new {@class="form-control InputEmail1",@placeholder= "Enter your first name",@maxlength="50"})
                                            @Html.ValidationMessageFor(m => m.User.FirstName)
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <!-- Last Name -->
                                        <div class="form-group">
                                            <label class="mylabel" for="InputEmail1">Last Name *</label>
                                            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control InputEmail1", @placeholder = "Enter your last name", @maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.User.LastName)
                                        </div>

                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="mylabel" for="InputEmail1">Email *</label>
                                            @Html.TextBoxFor(m => m.User.EmailId, new { @class = "form-control InputEmail1", @readonly="readonly"})
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <!-- DOB -->
                                        <div class="form-group">
                                            <label class="mylabel">Date Of Birth</label>

                                            <!-- Calender icon -->
                                            <div class="wrapper">

                                                @Html.TextBoxFor(m => m.DOB, new { @class = "form-control InputEmail1", @placeholder = "Enter your birth of date", @maxlength = "50",@type="date"})
                                                <img class="dopointer" src="~/Content/images/user-profile/calendar.png" alt="show">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <!-- Gender -->
                                        <div class="form-group">
                                            <label class="mylabel">Gender</label>
                                            <!-- Drop down arrow icon -->

                                            <select name="Gender" class="form-control inputselect">
                                                <option>Select your gender</option>
                                                @if (Model.Gender != null)
                                                {
                                                    if (Model.Gender.Equals("Male"))
                                                    {
                                                        <option selected>Male</option>
                                                        <option>Female</option>
                                                        <option>Other</option>
                                                    }
                                                    else if (Model.Gender.Equals("Female"))
                                                    {

                                                        <option>Male</option>
                                                        <option selected>Female</option>
                                                        <option>Other</option>
                                                    }
                                                    else if (Model.Gender.Equals("Other"))
                                                    {
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                        <option selected>Other</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Other</option>
                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">

                                        <!-- Phone Number -->
                                        <div class="form-group">
                                            <label class="mylabel">Phone Number</label>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-5 col-sm-5 col-3 col-xl-3 col-lg-4  nopadding">
                                                        <div class="marginright">

                                                            <select name="CountryCode" class="form-control inputselect">
                                                                @{
                                                                    var getlist_code = ViewBag.MyCTC as IEnumerable<NotesMarketplace.ManageCTC>;

                                                                    foreach (var item in getlist_code)
                                                                    {
                                                                        if (item.F_K_CTC == 3)
                                                                        {
                                                                            if (Model.CountryCode != null)
                                                                            {
                                                                                if (item.CountryCode.ToString().Equals(Model.CountryCode.ToString().Substring(1)))
                                                                                {
                                                                                    <option selected>+@item.CountryCode</option>
                                                                                    continue;
                                                                                }
                                                                            }
                                                                            <option>+@item.CountryCode</option>

                                                                        }
                                                                    }
                                                                }
                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-9 col-xl-9 col-lg-8 nopadding">
                                                        @Html.TextBoxFor(m => m.Number, new { @class = "form-control InputEmail1", @placeholder = "Enter your phone number", @maxlength = "20" })
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.Number)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Upload a Picture -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group dopointer">
                                            <div class="upload-profile-picture">
                                                <label class="mylabel" for="InputEmail1">Profile Picture</label>

                                                <input type="file" name="File" accept="image/*" class="form-control InputEmail1"/>
                                                <div class="uploadmypic text-center">
                                                    <img class="img-fluid" src="~/Content/images/user-profile/upload.png">
                                                    <h6>Upload a picture</h6>
                                                </div>
                                                <span class="field-validation-error">@NotesMarketplace.MyClass.Register_id.profilepicture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Second Section Ends-->
            <!-- Third Section -->
            <section id="Address-details" class="user-profile content-box-md">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head">
                                    <h3>Address Details</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <!-- Address Line 1 -->
                                        <div class="form-group">
                                            <label class="mylabel">Address Line 1 *</label>
                                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control InputEmail1", @placeholder = "Enter your address",@maxlength="100" })
                                            @Html.ValidationMessageFor(m=>m.Address1)
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <!-- Address Line 2 -->
                                        <div class="form-group">
                                            <label class="mylabel" for="InputEmail1">Address Line 2 *</label>
                                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control InputEmail1", @placeholder = "Enter your address", @maxlength = "100" })
                                            @Html.ValidationMessageFor(m => m.Address2)
                                        </div>

                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <!-- City -->
                                        <div class="form-group">
                                            <label class="mylabel" for="InputEmail1">City *</label>
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control InputEmail1", @placeholder = "Enter your city", @maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.Address2)
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <!-- State -->
                                        <div class="form-group">
                                            <label class="mylabel">State *</label>
                                            @Html.TextBoxFor(m => m.State, new { @class = "form-control InputEmail1", @placeholder = "Enter your state", @maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.State)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <!-- ZipCode -->
                                        <div class="form-group">
                                            <label class="mylabel">ZipCode *</label>
                                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control InputEmail1", @placeholder = "Enter your zipcode", @maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.ZipCode)
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">

                                        <!-- Country -->
                                        <div class="form-group">
                                            <label class="mylabel">Country *</label>

                                            <!-- Drop down arrow icon -->
                                            <select name="Country" class="form-control inputselect">
                                                <option>Select your country</option>
                                                @{
                                                    var getlist = ViewBag.MyCTC as IEnumerable<NotesMarketplace.ManageCTC>;

                                                    foreach (var item in getlist)
                                                    {
                                                        if (item.F_K_CTC == 3)
                                                        {
                                                            if (Model.Country != null)
                                                            {
                                                                if (Model.Country.Equals(item.Value))
                                                                {
                                                                    <option selected>@item.Value</option>
                                                                    continue;

                                                                }
                                                            }
                                                            <option>@item.Value</option>

                                                        }
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Third Section Ends-->
            <!-- Forth Section -->
            <section id="study-details" class="user-profile content-box-md">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head">
                                    <h3>University and College Details</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <!-- University -->
                                        <div class="form-group">
                                            <label class="mylabel">University</label>
                                            @Html.TextBoxFor(m => m.University, new { @class = "form-control InputEmail1", @placeholder = "Enter your university", @maxlength = "100" })
                                            @Html.ValidationMessageFor(m => m.University)
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <!-- College -->
                                        <div class="form-group">
                                            <label class="mylabel" for="InputEmail1">College</label>
                                            @Html.TextBoxFor(m => m.College, new { @class = "form-control InputEmail1", @placeholder = "Enter your college", @maxlength = "100" })
                                            @Html.ValidationMessageFor(m => m.College)
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        @if(ViewBag.update!=null)
                        {
                            <input hidden  name="flag_update" value="updateme"/>
                        }
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>submit</b></button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Forth Section Ends-->
        </form>
    </section>
