@model NotesMarketplace.ManageCTC
@{
    ViewBag.title = "Add Type";
    ViewBag.managepage = "active-link";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<form class="user-details-form" method="post">

    <!-- Second Section -->
    <section id="basic-profile-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head">
                            <h3>Add Type</h3>
                        </div>
                    </div>
                </div>
                <input hidden name="ID" value="@Model.ID" />
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row">

                            <div class="col-12">
                                <!-- First Name -->
                                <div class="form-group">
                                    <label class="mylabel">Type Name *</label>
                                    @Html.TextBoxFor(m => m.Value, new { @class = "form-control InputEmail1", @placeholder = "Enter your Type Name", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.Value)
                                </div>
                            </div>
                        </div>

                        <!-- Upload a Picture -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="textarea-input">
                                        <label class="mylabel" for="InputEmail1">Description *</label>
                                        @Html.TextAreaFor(m => m.Description, new { @placeholder = "Enter your description", @class = "form-control InputEmail1" })
                                        @Html.ValidationMessageFor(m => m.Description)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5 col-md-4">
                                <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>submit</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Second Section Ends-->
</form>
