@model IPagedList<NotesMarketplace.DownloadedNote>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.title = "Downloaded Notes";
    ViewBag.notes = "active-link";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<section id="dashboard-top" class="admin-top">

    <div class="container">

        <!-- dashboard heading & add note button -->
        <div class="row dashboard-top-title">

            <!-- Title -->
            <div class="col-md-7 col-sm-12 col-12">
                <div class="dashboar-heading">
                    <h2>Downloaded Notes</h2>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="dashboard-second-section" class="admin-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 margbo">
               <form>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mylabel">Notes</label>
                            
                            <select name="noteid" class="form-control inputselect" onchange="submit()">
                                <option value="">Select note</option>
                                @{
                                    List<NotesMarketplace.Models.Id_Name> notes = ViewBag.note;
                                    foreach (NotesMarketplace.Models.Id_Name note in notes)
                                    {
                                        if (Request.QueryString["noteid"] != null)
                                        {
                                            if (Request.QueryString["noteid"].Equals(note.id.ToString()))
                                            {
                                                <option selected value="@note.id">@note.name</option>
                                                continue;
                                            }
                                        }
                                        <option value="@note.id">@note.name</option>
                                    }
                                }
                            </select>
                            
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mylabel">Seller</label>
                            <select name="sellerid" class="form-control inputselect" onchange="submit()">
                                <option value="">Select Seller</option>
                                @{
                                    List<NotesMarketplace.Models.Id_Name> sellers = ViewBag.seller;
                                    foreach (NotesMarketplace.Models.Id_Name seller in sellers)
                                    {
                                        if (Request.QueryString["sellerid"] != null)
                                        {
                                            if (Request.QueryString["sellerid"].Equals(seller.id.ToString()))
                                            {
                                                <option selected value="@seller.id">@seller.name</option>
                                                continue;
                                            }
                                        }
                                        <option value="@seller.id">@seller.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="mylabel">Buyer</label> 
                            <select name="buyerid" class="form-control inputselect" onchange="submit()">
                                <option value="">Select buyer</option>
                                @{
                                    List<NotesMarketplace.Models.Id_Name> buyers = ViewBag.buyer;
                                    foreach (NotesMarketplace.Models.Id_Name buyer in buyers)
                                    {
                                        if (Request.QueryString["buyerid"] != null)
                                        {
                                            if (Request.QueryString["buyerid"].Equals(buyer.id.ToString()))
                                            {
                                                <option selected value="@buyer.id">@buyer.name</option>
                                                continue;
                                            }
                                        }
                                        <option value="@buyer.id">@buyer.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 dobottom">
                <form>
                    <div class="row justify-content-end">
                        <input hidden name="sort" value="@Request.QueryString["sort"]" />
                        <input hidden name="buyerid" value="@Request.QueryString["buyerid"]" />
                        <input hidden name="sellerid" value="@Request.QueryString["sellerid"]" />
                        <input hidden name="noteid" value="@Request.QueryString["noteid"]" />
                        <div class="wrapper">
                            <img src="~/Admin_Content/images/Dashboard/search.jpg" class="searchimage doup">
                            <input name="search" value="@Request.QueryString["search"]" class="form-control search-bar InputEmail1" placeholder="Search">
                        </div>
                        <div class="marge-left">
                            <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>Search</b></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    <table class="table">
                        <thead class="headr-wrap">
                            <tr style="cursor:default">
                                <th scope="col" class="align-middle text-center">SR NO.</th>
                                <th scope="col" class="align-middle dopointer"><a href="@Url.Action("DownloadedNotes","Admin",new {sort="title",pageindex=Request.QueryString["pageindex"],search=Request.QueryString["search"], noteid = Request.QueryString["noteid"], sellerid = Request.QueryString["sellerid"], buyerid = Request.QueryString["buyerid"] })">NOTE TITLE</a></th>
                                <th scope="col" class="align-middle dopointer"><a href="@Url.Action("DownloadedNotes","Admin",new {sort="category",pageindex=Request.QueryString["pageindex"],search=Request.QueryString["search"], noteid = Request.QueryString["noteid"], sellerid = Request.QueryString["sellerid"], buyerid = Request.QueryString["buyerid"] })">CATEGORY</a></th>
                                <th scope="col" class="align-middle dopointer"><a href="@Url.Action("DownloadedNotes","Admin",new {sort="buyer",pageindex=Request.QueryString["pageindex"],search=Request.QueryString["search"], noteid = Request.QueryString["noteid"], sellerid = Request.QueryString["sellerid"], buyerid = Request.QueryString["buyerid"] })">BUYER</a></th>
                                <th scope="col" class="align-middle"></th>
                                <th scope="col" class="align-middle dopointer"><a href="@Url.Action("DownloadedNotes","Admin",new {sort="seller",pageindex=Request.QueryString["pageindex"],search=Request.QueryString["search"], noteid = Request.QueryString["noteid"], sellerid = Request.QueryString["sellerid"], buyerid = Request.QueryString["buyerid"] })">SELLER</a></th>
                                <th scope="col" class="align-middle"></th>
                                <th scope="col" class="align-middle">SELL TYPE</th>
                                <th scope="col" class="align-middle dopointer"><a href="@Url.Action("DownloadedNotes","Admin",new {sort="price",pageindex=Request.QueryString["pageindex"],search=Request.QueryString["search"], noteid = Request.QueryString["noteid"], sellerid = Request.QueryString["sellerid"], buyerid = Request.QueryString["buyerid"] })">PRICE</a></th>
                                <th scope="col" class="align-middle dopointer"><a href="@Url.Action("DownloadedNotes","Admin",new {sort="",pageindex=Request.QueryString["pageindex"],search=Request.QueryString["search"] , noteid = Request.QueryString["noteid"], sellerid = Request.QueryString["sellerid"], buyerid = Request.QueryString["buyerid"]})">DOWNLOADED DATE/TIME</a></th>
                                <th scope="col" class="align-middle"></th>
                                <th scope="col" class="align-middle"></th>
                            </tr>
                        </thead>
                        <tbody class="headr-wrap">
                            @if (Model.Count() == 0)
                            {
                                <tr> <td colspan="12" class="align-middle"> Records not found </td></tr>
                            }
                            @{
                                int index = 0;
                                if (Request.QueryString["pageindex"] == null || Request.QueryString["pageindex"].Equals("1"))
                                {
                                    index = 0;
                                }
                                else
                                {
                                    index = (Convert.ToInt32(Request.QueryString["pageindex"]) - 1) * 5;
                                }
                            }
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                DownloadedNote downloadedNote = Model[i];
                        <tr style="cursor:default">
                            <td class="align-middle text-center">@(index + i+1)</td>
                            <td class="align-middle getpurple dopointer"><a href="@Url.Action("NoteDetails","Admin",new {noteid=downloadedNote.F_K_Note})">@downloadedNote.Title</a></td>
                            <td class="align-middle">@downloadedNote.Category</td>
                            <td class="align-middle">@downloadedNote.User1.FirstName @downloadedNote.User1.LastName</td>
                            <td class="align-middle dopointer"><a href="@Url.Action("MemberDatails","Admin",new {id=downloadedNote.F_K_User_Buyer })"><img src="~/Admin_Content/images/Dashboard/eye.png"></a></td>
                            <td class="align-middle">@downloadedNote.User.FirstName @downloadedNote.User.LastName</td>
                            <td class="align-middle dopointer"><a href="@Url.Action("MemberDatails","Admin",new {id=downloadedNote.F_K_User_Seller })"><img src="~/Admin_Content/images/Dashboard/eye.png"></a></td>
                            @{
                                if (downloadedNote.SellPrice != 0)
                                {
                                    <td class="align-middle">Paid</td>
                                }
                                else
                                {
                                    <td class="align-middle">Free</td>
                                }
                            }
                            <td class="align-middle">$@downloadedNote.SellPrice</td>
                            <td class="align-middle">@downloadedNote.CreatedDate.Value.ToString("g").Replace(" ", ", ")</td>
                            <td class="align-middle marright dopointer">
                                <div class="dropdown">
                                    <a id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v dowhite"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="@Url.Action("DownloadFile","Home",new {fileName=downloadedNote.Attachment})">Download Notes</a>
                                        <a class="dropdown-item" href="@Url.Action("NoteDetails","Admin",new {noteid=downloadedNote.F_K_Note})">View More Details</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pagination">
    @Html.PagedListPager(Model, pageindex => Url.Action("DownloadedNotes", "Admin", new { pageindex, search = Request.QueryString["search"], sort = Request.QueryString["sort"], noteid = Request.QueryString["noteid"], sellerid = Request.QueryString["sellerid"], buyerid = Request.QueryString["buyerid"] }), new PagedList.Mvc.PagedListRenderOptions
{
    ContainerDivClasses = null,
    LiElementClasses = new string[] { "page-item1" },
    UlElementClasses = new string[] { "pagination justify-content-center" },
    LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
    LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never

})
</section>

